{% extends 'base.html' %}

{% block title %}
    <title>Project List</title>
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if projects|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in projects %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' item.id %}">{{ item.name }}
                                    </td>
                                    <td>{{ item.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </main>
    {% endblock content %}
